.mainContainer{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.left{
    display: inline-block;
    margin: 10px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 25px;
    width: 50%;
}

.right{
    display: inline-block;
    margin: 10px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 25px;
    width: 50%;
}

.middle{
    display: inline-block;
    margin: 10px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 25px;
    width: 50%;
}

.mainContainer{
    display:flex;
    border: 1px solid black;
    height: 75vh;
    width: 75vw;
    justify-content: center;
    align-self: center;
    border-radius: 25px;

}

.personList{
    display: inline-block;
}

.idNoInput::-webkit-outer-spin-button{
    -webkit-appearance: none !important;
}

input[type=number]{
    -moz-appearance: textfield;
}

.idNoInput::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
}

.list-group{
    width:10vw;
}

.list-group-item{
    display: flex !important;
    justify-content: center;
}

.the-container{
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-cards-container{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.cards-container{
    display: flex;
    flex-direction: row;
}

.card{
    width: 25vw;
    border-radius: 25px !important;
}

.card-body{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 25px;
}